
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

# Visual Studio ignores
.vscode/
.vs
/sourcecode/src/chunkGeneration
*.dblite
*.os

# Compiled Godot bins ignores
/sourcecode/VoxelGame/bins/*
!/sourcecode/VoxelGame/bins/*.gdnlib
/sourcecode/VoxelGameServer/bins/*
!/sourcecode/VoxelGameServer/bins/*.gdnlib

# Ignore multiplayer info
/sourcecode/VoxelGameServer/gameinfo/*
!/sourcecode/VoxelGameServer/gameinfo/player_creds.json
